<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= image_tag @post.display_image if @post.image.attached? %>

<%= @post.title %>

<%= @post.area %>

<%= @post.name %>

<% if @post.user.id == current_user.id %>
    <%= link_to "編集する", edit_post_path(@post) %>
<% end %>

<p>投稿者: <%= @post.user.name %></p>

