<div class="post-show">
    <div class="post-show-title">
        <h1><%= @post.title %>の社員通用口</h1>
    </div>
    
    <div class="post-top-image">
        <%= image_tag @post.display_image if @post.image.attached? %>
    </div>
    
    
    
    <%= @post.area %>
    
    <%= @post.name %>
    
    <%= @post.content %>
    
    <% if @post.user.id == current_user.id %>
        <%= link_to "編集する", edit_post_path(@post) %>
    <% end %>
    
    <p>投稿者: <%= @post.user.name %></p>
    
    
    
</div>


