<header>
    <div class="header-area">
        <div class="header-logo">
            <%= link_to root_path do %>
                <%= image_pack_tag 'media/images/logo.png' %>
            <% end %>
        </div>
        <div class="header-list">
            <ul class="header-right">
                <% if user_signed_in? %>
                    <li><%= link_to "使い方", about_path %></li>
                    <li><%= link_to "検索する", about_path %></li>
                    <li><%= link_to "お問い合わせ", contact_path %></li>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                    <li><%= link_to "投稿する", new_post_path %></li>
                <% else %>
                    <li><%= link_to 'ログイン', new_user_session_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</header>